# depedencies
node_modules

# testing
coverage
coverage.json
cache
artifacts/@ironblocks/**
artifacts/@openzeppelin/**
artifacts/@poolzfinance/**
artifacts/build-info/**
typechain
typechain-types

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history

#truffle
.tern-port
yarn.lock
package-lock.json
gasReporterOutput.json
gas-report.txt
md_gas_report.txt

# End of https://www.toptal.com/developers/gitignore/api/soliditytruffle